<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>$title$</title>
		<link rel="icon" href="/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/css/default.css" />
	</head>
	<body>
		<header>
		</header>
		<nav>
			<a href="/">Home</a>
			<a href="/pages/links.html">Links</a>
			<a href="/pages/blog.html">Latest posts</a>
			<a href="/pages/archive.html">All posts</a>
		</nav>
		<section class="content">
			<header>
				<h1>$title$</h1>
			</header>
			$body$
		</section>
		<footer>
			<p>Built by <a href="http://jaspervdj.be/hakyll/">Hakyll</a></p>
			<p>Served by <a href="http://www.boa.org">Boa</a></p>
			<p>Hosted by <a href="https://www.digitalocean.com">Digital Ocean</a></p>
			<p>Code at <a href="https://github.com/benhyland/personal-site">Github</a></p>
		</footer>
	</body>
</html>
